*{
	padding: 0px;
	margin: 0px;
}
#a{
	position: relative;
z-index: -100;
}
#b{
    font-weight: 400;
    margin-top: 10%;
    margin-left: 50%;
}
#c{
   float: right;
}
#d{
    float: left;
    height: 50%;
    width: 50%;
}
#e {
    clear: none;
    float: left;
    height: 50%;
    width: 50%;
}
#f{
    float: right;
    padding-right: 500px;
}
#g{
    float: left;
}
#h{
    margin-right: 100px;
}
#i{
    background-color: #D30C0F;
    margin-top: 15%;
    clear: both;
    float: left;
}
#j{
    float: right;
    background-color: #fff;
}
#k{
    margin-top: 50px;
    margin-right: 20px;
}
#n{
    background-color: #C20003;
    width: 100%;
    margin-top: 50px;
}
#o{
    width: 40%;
    margin-left: 50px;
    float: left;
}
#z {
    background-color: #000;
}
