*{
    margin: 0;
    padding: 0;
}
#on,#off{
    position: fixed;
    opacity: 0;
}
header{
    background: #ccc;
    position: relative;
    height: 80px;
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #000;
    position: absolute;
    right: -80%;
    width: 80%;
    height: 100vh;
    transition: all .5s;
}
.menu a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 20px 0;
    padding: 20px 0px;
    width: 300px;
    display: block;
    border: 1px solid #ccc;
}
.menu a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #fcc;
}
.menu a:hover{
    background: #ccc;
}
.menu a:hover .menu a::after{
    width: 100%;
}
.sm_menu{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}
.sm_menu::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #000;
    top: 25px;
    right: 5px;
    box-shadow: 0 8px 0 #000,0 -8px 0 #000;;
}
#on:checked ~ header .menu{
    right: 0;
}
.smmenu{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.smmenu::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    top: 25px;
    right: 5px;
    transform: rotate(40deg);
}
.smmenu::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    top: 25px;
    right: 5px;
    transform: rotate(-40deg);
}
#off:checked ~ header .smmenu{
    transform: translate(100px);
}