*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(#f7de99,#e6bb5e);
}
#menu{
    opacity: 0;
    position: fixed;
    top: 0;
}
header{
    width: 100%;
    height: 100px;
    position: fixed;
    background: linear-gradient(#f7de99,#e6bb5e);
}
.sm{
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(#f7de99,#e6bb5e);
    width: 50px;
    height: 50px;
    z-index: 10;
}
.sm::before{
    content: "";
    position: absolute;
    top: 25px;
    left: 2px;
    width: 45px;
    height: 3px;
    background: #888;
    box-shadow: 0px 10px 0 #888,0px -10px 0 #888;
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100vh;
    transform: translateX(150%);
    background: linear-gradient(#f7de99,#e6bb5e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    transition: all .5s;
    z-index: 5;
}
.menu .lo img{
    width: 100%;
}
.menu .lo{
    margin: 0px auto 50px;
    width: 80%;
    border: 0;
}
.menu a{
    text-decoration: none;
    display: block;
    padding: 30px 30px;
    margin: 0 20px;
    border-bottom: 1px solid #000;
    color: #000;
    transition: all .5s;
}
.menu a:hover{
    background: #888;
}
#menu:checked ~ header .menu{
    width: 80%;
    transform: translateX(0%);
}
.container{
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}
.logo{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}
.logo img{
    width: 100%;
}
.Start{
    position: absolute;
    width: 50px;
    display: block;
    height: 50px;
    bottom: -250px;
    border: 1px solid #000;
}
.Start::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 20px;
    left: 15px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(-45deg);
}
.wrap{
    width: 90%;
    margin: auto;
}
.items{
    margin: 200px 0;
}
.items h2{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.card h3{
    margin: 20px 0;
}
.card img{
    width: 100%;
}
.mobile{
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}
.mobile::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 20px;
    left: 15px;
    bottom: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(135deg);
}

